<h1><%= link_to @brewery.name, "/breweries/#{@brewery.id}/beers" %></h1>
<p>Number of Draft Lines: <%= @brewery.draft_lines %></p>
<p>Does it serve food: <%= @brewery.serves_food %></p>
<p>Beer Count: <%= @brewery.count %></p>
<h5><%= button_to "Delete #{@brewery.name}", "/breweries/#{@brewery.id}", method: :delete %>
<h5><%= link_to "Update #{@brewery.name}", "/breweries/#{@brewery.id}/edit", method: :get %></h5>
